body {
  margin: 0;
  padding: 0;
  /* min-width: 496px; */
  background-color: hsl(34, 78%, 91%);
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

header {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000;
  padding: 20px;
  margin-bottom: 5%;
  text-align: center;

}

header h1 {
  color: hsl(34, 78%, 85%);
  letter-spacing: 20px;
}

input {
  cursor: pointer !important;
}



.file {
  font-size: 18px;
  padding: 16px 40px;
  display: block;
  padding: 2em;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.627);
  color: #000;
  max-width: 600px;
  margin: 20px auto;
  background-color: hsl(34, 78%, 89%);

}

#myfile {
  cursor: pointer;
}





.filters h3 {
  padding-bottom: 15px;
  margin: 0px auto;
  border-radius: 15px;
}

.option {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.627);
  padding: 7px;
  border-radius: 15px;
  background-color: hsl(34, 89%, 82%);
  margin: 5px;
  font-size: 17px;
  cursor: pointer;
}





.start {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.627);
  margin-top: 40px;
  padding: 10px 50px;
  border-radius: 15px;
  background-color: hsl(34, 78%, 87%);
  margin-bottom: 120px;
  font-size: 20px;
  cursor: pointer;
}

form {
  text-align: center;
}

.start:hover {
  color: hsl(33, 95%, 51%);
  background-color: #333;

}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  min-width: 200px;
  max-width: 450px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 200%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}



.activityInput {
  width: 100px;
  margin: 10px 10px;
  padding: 5px 20px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.627);
}

.button {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.627);
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(33, 76%, 76%);
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}





.activtyFeld,
.filters,
.board,
.andOr,
.composition {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.627);
  display: inline-block;
  background-color: hsl(34, 78%, 89%);
  padding: 10px;
  margin: 10px;
  border: .01mm solid;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 50px;
  max-width: 900px;
  min-width: 300px;
  font-weight: bold;
}

.board p {
  font-size: 15px;
  text-align: center;
  margin: 5px;
}

.board h1 {
  margin-bottom: 20px;
}

.composition {
  display: none;
}



footer {
  background-color: rgb(0, 0, 0);

  color: #fff;
  padding: 30px 0;

  bottom: 0px;
  width: 100%;
  margin-top: 200px;
  height: 5px;
  position: absolute;

}

footer p {
  font-family: 'Raleway', sans-serif;

  font-size: 11px;
  text-align: center;
  color: bisque;

}

.flash {
  color: red;
  font-weight: bold;
  font-size: 20px
}