<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>LTL Checker</title>
        <meta charset="UTF-8" />
        <meta name="author" content="Mohammed Al-Laktah" />
        <meta name="description" content="A-customizable-interface-for-LTL-Checking" />
        <meta name="keywords" content="HTML, CSS, JavaScript, Python" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/styles/globals.css" />
        <script src="../static/javascript/main.js" ></script>
    </head>
    <body>
        <h1>Hello World!</h1>
        <script>hello_world()</script>
    </body>
</html>