<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>LTL Checker</title>
        <meta charset="UTF-8" />
        <meta name="author" content="Mohammed Al-Laktah" />
        <meta name="description" content="A-customizable-interface-for-LTL-Checking" />
        <meta name="keywords" content="HTML, CSS, JavaScript, Python" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="../static/styles/globals.css" />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
        <script src="../static/javascript/main.js" ></script>
    </head>
    <body> 
      <header>
          <h1>LTL Checker</h1>
      </header>
  
      <main>
        
        <form action="/upload" method="post" enctype="multipart/form-data">
          <section class="file">
  
            <label for="myfile">Drop file here or</label>
            <input required id="myfile"  name="datei" type="file" size="50" accept=".xes"> 
          
          </section>
          <div id="s">
            <section class="filters">
              <h3>Select LTL rules:</h3>
              
              <input  id="1" type="checkbox" name="LTL_rule" value="ltl_checker.A_eventually_B(log, A, B)">
              <label class="hovertext" data-hover="Applies the A eventually B rule,
              finding the cases in which an event with activity A was followed in the future by an event with activity B." for="1">A_eventually_B(log, A, B)</label>
              <br> 
              <input  id="2" type="checkbox" name="LTL_rule" value="ltl_checker.A_eventually_B_eventually_C(log, A, B, C)">
              <label class="hovertext" data-hover="Applies the A eventually B eventually C rule,
              finding the cases in which an event with activity A was followed in the future by an event with activity B which was followed by an event with activity C." for="2">A_eventually_B_eventually_C(log, A, B, C)</label>
              <br>  
              <input id="3" type="checkbox" name="LTL_rule" value="ltl_checker.A_eventually_B_eventually_C_eventually_D(log, A, B, C, D)"> 
              <label class="hovertext" data-hover="Applies the A eventually B eventually C eventually D rule,
              finding the cases in which an event with activity A was followed in the future by an event with activity B which was followed by an event with activity C which was followed by an event with activity D." for="3">A_eventually_B_eventually_C_eventually_D(log, A, B, C, D)</label>
              <br>
              <input id="4" type="checkbox" name="LTL_rule" value="ltl_checker.A_next_B_next_C(log, A, B, C)">
              <label class="hovertext" data-hover="Applies the A next B next C rule,
              finding the cases in which an event with activity A was directly followed by an event with activity B which was directly followed by an event with activity C." for="4">A_next_B_next_C(log, A, B, C)</label>
              <br> 
              <input id="5" type="checkbox" name="LTL_rule" value="ltl_checker.four_eyes_principle(log, A, B)">
              <label class="hovertext" data-hover="Applies the four eyes principle on the activities A and B." for="5">four_eyes_principle(log, A, B)</label>
              <br> 
              <input id="6" type="checkbox" name="LTL_rule" value="ltl_checker.attr_value_different_persons(log, A)">
              <label class="hovertext" data-hover="Finds the process executions in which the activity A is repeated by different people." for="6">attr_value_different_persons(log, A)</label> 
              <br>
                
            
            </section>
          </div>
          <br>
          <input class="boton" type="submit" value="Start">
        </form>   
           
          
        
      </main>
  
   
  
      <footer>
        <div class="container">
          <p>&copy; Grupe_1 2022</p>
        </div>
      </footer>
      
    </body>
</html>